#lrn, #ncl, #zti, #ztc {
    display: none !important;
}
body {
    font-family: "Times New Roman", Georgia, serif;
    font-size: 28px;
    color: #000000;
    background-color: #ffffff;
    margin-top: 0px;
    margin-left: 100px;
}
a {
    font-weight: bold;
    color: #848484;
}
a:hover {
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}
h1,h2,h3,h4,h5 {
    font-family: "Times New Roman", Georgia, serif;
    font-weight: normal;
    color: #000000;
    letter-spacing: 0px;
}
h1 {
    font-size: 60px;
}
h2,h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
    margin-top: 10px;
}
h5 {
    font-size: 16px;
}
blockquote {
    font-style: normal;
    letter-spacing: 0px;
    border-left: 4px solid rgba(0,0,0,.5)
}
#navbar {
    font-family: "Times New Roman", Georgia, serif;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    left: 0px;
    top: 0px;
    position: fixed;
    width: 150px;
    height: 100%;
    padding: 5px;
    z-index: 1;
}
#navbar a {
    color: #000000;
}
#navbar a:hover {
    color: #848484;
    text-decoration: none;
}
.entry .text.chat li.odd {
    background: #ffffff;
}
.entry .text .source {
    border-top: 1px solid rgba(0,0,0,.2)
}
.entry .text h2 a.link {
    color: #000000;
    background-color: #ffffff;
}
.entry .text.chat li {
    font: 20px "Times New Roman", Georgia, serif;
    letter-spacing: 0px;
}
.entry .details {
    background-color: #ffffff;
    word-spacing: 5px;
    margin-left: 580px;
}
.entry .details a {
    font: 22px "Times New Roman", Georgia, serif;
    color: #000000;
    font-weight: bold;
}
#P .p-b section,#P .p-b section.o span {
}
#P .p-b section.o span a {
    font: 16px "Times New Roman", Georgia, serif;
    color: #000000;
}
#P .p-b section ol.notes li.more_notes_link_container,#P .p-b section ol.notes li.more_notes_link_container a {
    font: 16px "Times New Roman", Georgia, serif;
    color: #000000;
}

{block:ifnotloadinganimation4}{block:ifloadinganimation3}.entry{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform-origin:0% 0%;transform-origin:0% 0%}{block:ifloadinganimation3}{block:ifnotloadinganimation4}.entry.loaded{-webkit-animation:{block:ifnotloadinganimation4}{block:ifnotloadinganimation3}{block:ifnotloadinganimation2}{block:ifloadinganimation1}a1{/block:ifloadinganimation1}{/block:ifnotloadinganimation2}{/block:ifnotloadinganimation3}{/block:ifnotloadinganimation4}{block:ifnotloadinganimation4}{block:ifnotloadinganimation3}{block:ifloadinganimation2}a2{/block:ifloadinganimation2}{/block:ifnotloadinganimation3}{/block:ifnotloadinganimation4}{block:ifnotloadinganimation4}{block:ifloadinganimation3}a3{/block:ifloadinganimation3}{/block:ifnotloadinganimation4}{block:ifloadinganimation4}a4{/block:ifloadinganimation4} {block:ifnotloadinganimation4}{block:ifnotloadinganimation3}{block:ifloadinganimation2}.5{/block:ifloadinganimation2}{/block:ifnotloadinganimation3}{/block:ifnotloadinganimation4}1s ease-out both;animation:{block:ifnotloadinganimation4}{block:ifnotloadinganimation3}{block:ifnotloadinganimation2}{block:ifloadinganimation1}a1{/block:ifloadinganimation1}{/block:ifnotloadinganimation2}{/block:ifnotloadinganimation3}{/block:ifnotloadinganimation4}{block:ifnotloadinganimation4}{block:ifnotloadinganimation3}{block:ifloadinganimation2}a2{/block:ifloadinganimation2}{/block:ifnotloadinganimation3}{/block:ifnotloadinganimation4}{block:ifnotloadinganimation4}{block:ifloadinganimation3}a3{/block:ifloadinganimation3}{/block:ifnotloadinganimation4}{block:ifloadinganimation4}a4{/block:ifloadinganimation4} {block:ifnotloadinganimation4}{block:ifnotloadinganimation3}{block:ifloadinganimation2}.5{/block:ifloadinganimation2}{/block:ifnotloadinganimation3}{/block:ifnotloadinganimation4}1s ease-out both}

{CustomCSS}