<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<!-- Theme by @DISEASE -->

<title>
DISEASE
{block:SearchPage} ({lang:Search results for SearchQuery})
{/block:SearchPage}
{block:PermalinkPage}
{block:PostSummary} — {PostSummary}{/block:PostSummary}
{/block:PermalinkPage}
</title>
{block:Description}
<meta name="description" content="{MetaDescription}">
{/block:Description}
 
<link rel="alternate" type="application/rss+xml" href="{RSS}">
<link rel="shortcut icon" href="{Favicon}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB Garamond"|"Anonymous Pro"|"Playfair Display">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<style>
html {
    position: relative;
    width: 100%;
}
body {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 24px;
    color: #ffffff;
    background: linear-gradient(300deg,#000000,#111111,#000000,#222222,#000000,#333333,#000000,#444444,#000000,#555555);
    background-size: 600% 600%;
    animation: gradient-animation 20s ease infinite;
    background-color: #000000;
    margin: 0 auto;
    padding: 0;
}
@keyframes gradient-animation {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
a {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 24px;
    font-weight: bold;
    color: #848484;
    word-wrap: break-word;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
    color: #ffffff;
    text-decoration: underline;
}
blockquote {
    border-left: 4px solid rgba(#ffffff,.1);
    padding: 0 0 0 15px;
    margin: 0;
}
h1, h2, h3, h4, h5 {
    color: #ffffff;
    margin: 0 0 20px;
    letter-spacing: 2px;
}
h1 {
    font-family: "Playfair Display", Georgia, sans-serif;
    font-size: 32px;
    text-align: center;
}
h2, h3, h4, h5 {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 24px;
}
img {
    display: block;
    max-width: 100%;
}
iframe, figure {
    max-width: 100%;
    margin: auto;
}
figure img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    height: auto !important;
}
ul, ol {
    padding: 0;
}
li {
    list-style-position: inside;
}
* {
    box-sizing: border-box;
}
#posts-container {
    position: relative;
    right: 0;
}
#posts {
    position: relative;
    margin: auto;
    margin-left: 10px;
    padding: 10px 0;
}
#posts:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
#post-sizer, .post {
    width: 48.5%;
}
#gutter-sizer {
    width: 1.5%;
}
@media screen and (max-width: 600px) {
  .post {
    width: 100%;
  }
}
.post {
    position: relative;
    background-color: #000000;
    overflow: hidden;
    margin-bottom: 1.5%;
}
.post-content {
    font-size: 24px;
    border: 2px inset rgba(255,255,255,.8);
    width: 100%;
    padding: 10px;
    float: left;
}
.post-content p,
.post-content blockquote {
    margin: 0 0 20px;
}
.post-content .text h2 a.link {
    display: block;
    text-decoration: none;
}
.post-content .text h2 a.link:after {
    content: "\2192";
    margin: 0 0 0 20px;
}
.post-content p:last-child {
    margin: 0 !important;
}
.post-content .media {
    width: 100%;
}
.post-content .media iframe {
    display: block;
    width: 100%;
}
.post-content .photo {
    position: relative;
    overflow: hidden;
}
.post-content .photo img {
    width: 100%;
}
.post-content .lightbox a {
    outline: none;
}
.post-content .text {
    position: relative;
}
.post-content .captions {
    padding: 20px 0;
}
.post-content .text.chat li {
    padding: 10px;
    list-style: none;
}
.source {
    padding: 20px 0 0;
}
.post p, .post blockquote {
    margin: 0 0 20px;
}
.post-content .text .chat li.odd {
    background: rgba(#ffffff,.1);
}
.post-content .text .source {
    border-top: 1px solid rgba(#ffffff,.1);
}
.post-content .text.chat li {
    font-size: 24px;
    font-family: "Playfair Display", Georgia, serif;
}
.details {
    background-color: #000000;
    font-size: 24px;
    text-align: right;
    height: 20px;
}
.details a {
    font-family: Georgia, serif;
    font-size: 24px;
    color: #ffffff;
    text-align: right;
}
.like_and_reblog_buttons {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    list-style: none;
    }
.like_and_reblog_buttons li {
    float: left;
    padding: 8px 8px;
    height: 20px;
    line-height: 20px;
    }
.like_and_reblog_buttons li a {
    color: #ffffff;
    font-family: Georgia, serif;
    }
.like_and_reblog_buttons li a:hover {
    color: #999999;
    text-decoration: none;
    }
.like_and_reblog_buttons li:first-child {
    border-right: 0px solid #e8e8e8;
    }
.dropbtn-nav {
    font-family: "Anonymous Pro", monospace;
    font-weight: normal;
    font-size: 26px;
    color: #ffffff;
    background-color: #000000;
    padding: 0px 4px;
    border: 1px solid #ffffff;
}
.dropdown-nav {
    position: fixed;
    left: 8px;
    top: 4px;
    display: inline-block;
    z-index: 2;
}
.dropdown-content-nav {
    font-family: "Anonymous Pro", monospace;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    letter-spacing: 2px;
    display: none;
    padding: 0px 8px;
    position: absolute;
    max-height: 550px;
    min-width: 450px;
    border: 1px solid #ffffff;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content-nav a, img {
    font-family: "Anonymous Pro", monospace;
    font-weight: normal;
    font-size: 24px;
    color: #ffffff;
    background-color: #000000;
    padding: 0px 8px;
    display: block;
}
.dropdown-content-nav a:hover {
    font-family: "Anonymous Pro", monospace;
    color: #ffffff;
    background-color: #333333;
    text-decoration: none;
}
.dropdown-nav:hover .dropdown-content-nav {
    display: block;
}
.g_discogs {
    background: -webkit-linear-gradient(90deg, #999999, #777777, #555555);
}
.g_discord {
    background: -webkit-linear-gradient(0deg, #7289da, #424549);
}
.g_giphy {
    background: -webkit-linear-gradient(0deg, #f0535a, #fff35b, #00ff99, #03ccff, #9933ff 30%);
}
.g_github {
    background: -webkit-linear-gradient(0deg, #eeeeee, #333333);
}
.g_goodreads {
    background: -webkit-linear-gradient(0deg, #e9e5cd, #75420e, #553b08, #aaaaaa);
}
.g_instagram {
    background: -webkit-linear-gradient(0deg, #5b51d8, #c13584, #f77737, #ffdc80, #833ab4, #e1306c, #fd1d1d, #405de6);
}
.g_letterboxd {
    background: -webkit-linear-gradient(90deg, #ff8000 25%, #ffffff, #00e054, #40bcf4);
}
.g_mastodon {
    background: -webkit-linear-gradient(90deg, #6364ff, #563acc, #17063b);
}
.g_soundcloud {
    background: -webkit-linear-gradient(15deg, #ff7700 100%, #000000);
}
.g_spotify {
    background: -webkit-linear-gradient(15deg, #1db954 100%, #000000);
}
.g_youtube {
    background: -webkit-linear-gradient(15deg, #ff0000 100%, #000000);
}
.g_discogs, .g_discord, .g_giphy, .g_github, .g_goodreads, .g_instagram, .g_letterboxd, .g_mastodon, .g_soundcloud, .g_spotify, .g_youtube {
    font-size: 24px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#P .p-b {
    background-color: #000000;
    border: 2px inset rgba(255,255,255,.8);
    padding: 10px;
    float: right;
    width: 48.5%;;
    height: auto;
}
#P .post-content, #P .p-b {
    margin: 0 !important;
}
#P .post-content .text, #P .post-content .media, #P .post-content .photo.photoset {
    bottom: 0 !important;
}
#P .p-b section ol.notes {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#P .p-b section ol.notes:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
#P .p-b section ol.notes li.note {
    float: left;
    overflow: hidden;
    height: 18px;
    width: 18px;
    margin: 4px 8px 4px 0;
    opacity: 0.5;
}
#P .p-b section ol.notes li.note:hover {
    opacity: 1;
}
#P .p-b section ol.notes li.note img.avatar {
    height: 100%;
    width: 100%;
    vertical-align: -4px;
}
#P .p-b section ol.notes li.more_notes_link_container {
    width: 100%;
    height: 14px;
    margin: 20px 0 0;
    text-align: left !important;
    text-transform: uppercase;
}
#P .p-b section ol.notes li.more_notes_link_container a {
    text-decoration: none;
}
#P .p-b section {
    margin: 0;
    padding: 20px 0;
}
#P .p-b section.o {
    padding: 0 !important;
    border: 0 !important;
}
#P .p-b section, #P .p-b section.o span {
    border-top: 1px solid rgba(#ffffff,.1);
}
#P .p-b section.o span {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 20px 0;
}
#P .p-b section.o span a {
    font-size: 20px;
    font-family: "Playfair Display", Georgia, serif;
    opacity: 0.6;
    text-transform: uppercase;
}
#P .p-b section.o span a:hover {
  opacity: 1;
}
#P .p-b section ol.notes li.more_notes_link_container, #P .p-b section ol.notes li.more_notes_link_container a {
    font-size: 14px; 
    font-family: "Playfair Display", Georgia, serif;
    color: #ffffff;
}
#footer {
    visibility: hidden !important;
}

</style>
</head>


<body id="{block:IndexPage}I{/block:IndexPage}{block:PermalinkPage}P{/block:PermalinkPage}">

<section id="posts-container">
<div id="posts">
<div id="post-sizer"></div>
<div id="gutter-sizer"></div>
{block:Posts}
    <div class="post" id="{PostID}">
    <div class="post-content">

    {block:Text}
        <div class="text">
        {block:Title}<h2>{Title}</h2>{/block:Title}
        {Body}
        </div>
    {/block:Text}

    {block:Photo}
        <div class="photo">
        {block:IndexPage}
        <img class="lazyload" src="{PhotoURL-HighRes}" alt="{PhotoAlt}">
        {block:Caption}<h4>{Caption}</h4>{/block:Caption}
        {/block:IndexPage}
        {block:PermalinkPage}
        {LinkOpenTag}<img src="{PhotoURL-HighRes}"alt="{PhotoAlt}">{LinkCloseTag}
        {/block:PermalinkPage}
        </div>
        {/block:Photo}

    {block:Photoset}
    <div id="photoset-grid lightbox" data-layout="{PhotosetLayout}" data-id="photoset{PostID}">{block:IndexPage}{Photoset-700}{block:Caption}<h4>{Caption}</h4>{/block:Caption}{/block:IndexPage}{block:PermalinkPage}{Photoset-700}{/block:PermalinkPage}
    </div>
    {/block:Photoset}


    {block:Quote}
        <div class="text quote"><h3>{Quote}</h3>
        <div class="source">—{Source}</div>
        </div>
    {/block:Quote}

    {block:Link}
        <div class="text"><h2><a class="link" href="{URL}">{Name}</a></h2>
        <div class="source">{block:Description}{Description}{/block:Description}</div>
        </div>
    {/block:Link}

    {block:Chat}
        <div class="text chat">
        {block:Title}<h2>{Title}</h2>{/block:Title}
        {block:Lines}<li class="{Alt}">{block:Label}<b>{Label}</b>{/block:Label} {Line}</li>{/block:Lines}
        </div>
        {/block:Chat}

    {block:Audio}
        <div class="media">
        {block:IndexPage}
        {AudioEmbed-400}
        {/block:IndexPage}
        {block:PermalinkPage}
        {AudioEmbed-640}
        {/block:PermalinkPage}
        </div>
    {/block:Audio}

    {block:Video}
        <div class="media">
        {block:IndexPage}
        {VideoEmbed-400}
        {/block:IndexPage}
        {block:PermalinkPage}
        {VideoEmbed-700}
        {/block:PermalinkPage}
    </div>
    {/block:Video}

    {block:Answer}
        <div class="text">
            <span style="text-transform:uppercase"><h3>@{Asker} asked:</h3></span>
            <h3>{Question}</h3>
            <div class="source">{Answer}</div>
        </div>
    {/block:Answer}


{block:IndexPage}
    <ul class="like_and_reblog_buttons">
    <li>{ReblogButton color="white"}</li>
    <li>{LikeButton color="white"}</li>
    <li><a href="{Permalink}" target="_blank"><i class="fa-solid fa-paperclip"></i></a></li>
    </ul>
{/block:IndexPage}
</div>
</div>


{block:PermalinkPage}
    {block:Date}
    <div class="p-b">
    <section class="o">
        {block:Caption}<section class="captions"><h4>{Caption}</h4></section>{/block:Caption}
        {block:ContentSource}<p><a href="{SourceURL}">{SourceTitle}</a></p>{/block:ContentSource}</section>
        <p style="text-align:center">{Month} {DayOfMonthWithZero}, {Year} &nbsp;&nbsp;|&nbsp;&nbsp; {12HourWithZero}:{Minutes} {AmPm}</p>
        {block:HasTags}<section class="o">{block:Tags}<span><a href="{TagURL}">#{Tag}</a></span>{/block:Tags}</section>{/block:HasTags}
        <p style="text-align:right">{NoteCountWithLabel}</p>
        {block:PostNotes}<section>{PostNotes}</section>{/block:PostNotes}
    </div>
    {/block:Date}
    {/block:PermalinkPage}
    
{/block:Posts}

<div class="dropdown-nav">
<button class="dropbtn-nav"><i class="fa-solid fa-bars"></i>
</button>
<div class="dropdown-content-nav">
<a href="https://disease.tumblr.com"><h1>{Title}</h1></a>
<a href="https://disease.tumblr.com/archive">ARCHIVE <i class="fa-solid fa-layer-group"></i></a>
<a href="https://disease.tumblr.com/ask">ASK <i class="fa-solid fa-question"></i></a>
<a href="https://disease.tumblr.com/bio">BIO <i class="fa-solid fa-biohazard"></i></a>
<a href="https://disease.tumblr.com/tags">TAGS <i class="fa-solid fa-hashtag"></i></a>
<a href="https://disease.tumblr.com/tagged/u">UPLOADS <i class="fa-solid fa-arrow-up-from-bracket"></i></a>
<a href="https://disease.tumblr.com/rss" target="_blank"><font color="#ee802f">RSS <i class="fa-solid fa-rss"></i></font></a>
<p align="center"></p>
<a href="https://disease.tumblr.com/tagged/audio">AUDIO <i class="fa-solid fa-music"></i></a>
<a href="https://disease.tumblr.com/tagged/link">LINKS <i class="fa-solid fa-link"></i></a>
<a href="https://disease.tumblr.com/tagged/text">TEXT <i class="fa-regular fa-file-lines"></i></a>
<a href="https://disease.tumblr.com/tagged/video">VIDEO <i class="fa-solid fa-video"></i></a>
<p align="center"></p>
<a href="https://disease.tumblr.com/tagged/gbrrrl%20johnsen">COLLAGES+</a>
<a href="https://disease.tumblr.com/tagged/gif%20edit">.GIF EDITS</a>
<a href="https://disease.tumblr.com/tagged/scan">SCANS</a>
<a href="https://disease.tumblr.com/tagged/VHS%20edit">VHS EDITS</a>
<a href="https://disease.tumblr.com/tagged/vinyl%20rip">VINYL RIPS</a>
<p align="center"></p>
<a href="https://lostblognetwork.com/main" target="_blank"><font color="#34526f"><i class="fa-brands fa-tumblr"></i></font> THE LOST BLOG NETWORK</a>
<a href="https://cor-humanum.tumblr.com" target="_blank"><font color="#34526f"><i class="fa-brands fa-tumblr"></i></font> @COR-HUMANUM</a>
<a href="https://www.tumblr.com/audio-archives" target="_blank"><font color="#34526f"><i class="fa-brands fa-tumblr"></i></font> @AUDIO-ARCHIVES</a>
<p align="center"><i class='fas fa-infinity' style='font-size:18px;color:white'></i></p>
<a href="https://www.discogs.com/user/gbrrrl/collection?page=1&sort=artist%2Casc&folder=0&limit=250&header=1&layout=big" class="g_discogs" target="_blank"><i class="fa-solid fa-record-vinyl"></i> DISCOGS</a>
<a href="https://discord.com/invite/gbrrrl" class="g_discord" target="_blank"><font color="#5865f2"><i class="fa-brands fa-discord"></i> DISCORD</font></a>
<a href="https://giphy.com/channel/gbrrrl" class="g_giphy" target="_blank"><font color="#03ccff"><i class="fa-solid fa-file"></i> GIPHY</font></a>
<a href="https://github.com/gbrrrl" class="g_github" target="_blank"><font color="#fafbfc"><i class="fa-brands fa-github"></i> GITHUB</font></a>
<a href="https://www.goodreads.com/gbrrrl" class="g_goodreads" target="_blank"><font color="#75420e"><i class="fab fa-goodreads"></i> GOODREADS</font></a>
<a href="https://instagram.com/fermentedmolasses" class="g_instagram" target="_blank"><font color="#c13584"><i class="fa-brands fa-instagram"></i> INSTAGRAM</font></a>
<a href="https://letterboxd.com/gbrrrl/list/my-collection/" class="g_letterboxd" target="_blank"><font color="#00e054"><i class="fa-brands fa-letterboxd"></i> LETTERBOXD</font></a>
<a href="https://mastodon.social/@gbrrrl" class="g_mastodon" target="_blank"><font color="#6364ff"><i class="fa-brands fa-mastodon"></i> MASTODON</font></a>
<a href="https://soundcloud.com/gbrrrl" class="g_soundcloud" target="_blank"><font color="#ff7700"><i class="fa-brands fa-soundcloud"></i> SOUNDCLOUD</font></a>
<a href="https://open.spotify.com/user/gbrrrl_?si=t-2vvm4BRwiv_zicBJ1nOg" class="g_spotify" target="_blank"><font color="#1dB954"><i class="fa-brands fa-spotify"></i> SPOTIFY</font></a>
<a href="https://www.youtube.com/@gbrrrl" class="g_youtube" target="_blank"><font color="#ff0000"><i class="fa-brands fa-youtube"></i> YOUTUBE</a></font>
<p></p>
<p align="right"><a href="https://disease.tumblr.com/submit"><small><small>DISCLAIMER <i class="fa-solid fa-file-contract"></i></small></small></a></p>
<p></p>
</div>
</div>
</div>

<p id="footer">
{block:PreviousPage}
<a href="{PreviousPage}" class="pagination__previous">« PREVIOUS</a> 
{/block:PreviousPage}
{block:NextPage}
<a href="{NextPage}" class="pagination__next">NEXT »</a> 
{/block:NextPage} 
    
    <!-- {block:NoRebloggedFrom}
{block:RebloggedFrom}{ReblogParentName}{/block:RebloggedFrom}
{/block:NoRebloggedFrom} -->

{block:ContentSource}<!-- {SourceURL}
{block:SourceLogo}<img src="{BlackLogoURL}"width="{LogoWidth}" height="{LogoHeight}" alt="{SourceTitle}" />{/block:SourceLogo}
{block:NoSourceLogo}{SourceLink}{/block:NoSourceLogo} -->
{/block:ContentSource}

</p>
</section>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>


<script>
    window.onload = function() {

        // INITIALISE MASONRY
        var elem = document.getElementById('posts');
        var msnry = new Masonry(elem, {
            itemSelector: '.post',
            percentPosition: true,
            columnWidth: '#post-sizer',
            gutter: '#gutter-sizer'
        });

        // CALL MASONRY LAYOUT
        msnry.layout();

        // CALL MASONRY LAYOUT ON EMBED LOAD
        const embedObserver = new MutationObserver((m, o) => {
            msnry.layout();
        });
        embedObserver.observe(document, {
            childList: true,
            subtree: true
        });

        // INITIALISE INFINITE SCROLL
        let infScroll = new InfiniteScroll(elem, {
            path: '.pagination__next',
            append: '.post',
            history: false,
            outlayer: msnry,
        });

    }
</script>
</body>
</html>
