body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 20px;
    }
    a {
    color: #000000;
    font-size: 25px;
    text-decoration: none;
    }
    h2 {
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    }
    h3 {
    text-align: center;
    font-size: 28px;
    letter-spacing: .8px;
    font-weight: bold;
    text-decoration: underline;
    }
    ul {
    color: #000000;
    font-size: 20px;
    list-style-type: none;
    position: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    padding-left: 20px;
    width: 50%;
    background-color: #ffffff;
    }
    
    li a {
    display: block;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    padding: 8px;
    }
    
    li a:hover {
    background-color: #555555;
    color: #ffffff;
    }