body {
  font-family: Tahoma, sans-serif;
  font-size: 28px;
  color: #ffffff;
  background-color: #000000;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
a {
  font-weight: none;
  color: #848484;
  text-decoration: none;
}
a:hover {
  font-weight: none;
  color: #ffffff;
  text-decoration: none;
}
h1 {
  font-family: Tahoma, sans-serif;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
}
h2 {
  font-family: Tahoma, sans-serif;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
}
table, td {
  border: 1px solid white;
}
table {
  width: 100%;
  margin: auto;
}
td {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  padding: 2px;
  height: auto;
  width: 25%;
}
