<style>
	body 
{
		color: #ffffff;
		background-color: #000000;
		font-size: 24px;
		text-align: center;
	}
	h1 {
		color: #ffffff;
		background-color: #000000;
		font-size: 40px;
		text-align: center;
	}
</style>