body {
    background-color: #000000;
	background-image: url('https://gbrrrl.com/assets/theme/hypno_bg.gif');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
    color: #000000;
    font-family: Teko, Courier, monospace;
    font-size: 24px;
    letter-spacing: 2.5px;
	margin: auto;
	padding: 10px;
}
a {
    color: #555555;
	font-weight: bold;
}
a:hover {
    color: #555555;
	font-weight: bold;
	text-decoration: underline;
}
h1, h1 a {
    font-family: Teko, Courier, monospace;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    }
h1 a:hover {
    color: #ffffff;
    text-decoration: underline;
}
header {
	color: #ffffff;
    background-color: #000000;
	font-family: Teko, Courier, monospace;
    font-size: 24px;
	text-align: center;
    letter-spacing: 2.5px;
    margin: auto;
    padding: 8px;
    max-width: 60%;
}
nav {
	color: #ffffff;
    background-color: #000000;
	font-family: Teko, Courier, monospace;
    font-size: 16px;
	text-align: left;
    letter-spacing: .5px;
    margin: auto;
	margin-top: 0px;
    padding: 8px;
    max-width: 60%;
}
nav a {
	font-family: Teko, Courier, monospace;
    color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
nav a:hover {
    color: #ffffff;
    text-decoration: underline;
	font-weight: bold;
}
footer {
	color: #ffffff;
    background-color: #000000;
	font-family: Teko, Courier, monospace;
    font-size: 24px;
	text-align: center;
    letter-spacing: 2.5px;
    margin: auto;
	margin-bottom: 0px;
    padding: 8px;
    max-width: 60%;
}
p {
	font-color: #ffffff;
    background-color: #000000;
	font-family: Teko, Courier, monospace;
    font-size: 24px;
	text-align: center;
    letter-spacing: 2.5px;
    margin: auto;
    padding: 8px;
    max-width: 60%;
}
#content {
	color: #ffffff;
    background-color: #000000;
	font-family: Teko, Courier, monospace;
    font-size: 16px;
	text-align: left;
    margin: auto;
    padding: 12px;
    max-width: 60%;
}