body {
    background-color: #000000;
	background-image: ('https://gbrrrl.com/assets/theme/hypno_bg.gif');
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: none;
    color: #000000;
    font-family: Teko, Courier, monospace;
    font-size: 24px;
    letter-spacing: 2.5px;
    }
a {
    color: #555555;
}
h2, h2 a {
    font-family: Teko, Courier, monospace;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    }
h2 a:hover {
    color: #ffffff;
    text-decoration: underline;
}
h3 {
    font-family: Teko, Courier, monospace;
    font-size: 32px;
    text-align: center;
}
ul {
    color: #ffffff;
    font-size: 22px;
    list-style-type: none;
    margin: auto;
    margin-top: -25px;
    padding: 20px;
    max-width: 50%;
    background-color: #000000;
    }
li a {
    display: block;
    color: #ffffff;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    padding-left: 20px;
    padding: 4px;
	background-color: #000000;
    }
li a:hover {
    background-color: #555555;
    color: #ffffff;
    }
    @media screen and (max-width: 600px) {
  ul {
    max-width: 100%;
  }
}