body {
    background-color: #000000;
	background-image: url('https://gbrrrl.com/assets/theme/hypno_bg.gif');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
    color: #000000;
	
    letter-spacing: 2.5px;
	margin: auto;
}
a {
    color: #555555;
	font-weight: bold;
}
a:hover {
    color: #555555;
	font-weight: bold;
	text-decoration: underline;
}

/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}
nav {
	color: #ffffff;
    background-color: #000000;
	font-family: 'Teko', sans-serif;
    font-size: 14px;
	text-align: left;
    letter-spacing: .5px;
    margin: auto;
	margin-top: 0px;
    padding: 2px;
    max-width: 60%;
}
nav a {
	font-family: 'Teko', sans-serif;
    color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
nav a:hover {
    color: #ffffff;
    text-decoration: underline;
	font-weight: bold;
}
footer {
	color: #ffffff;
    background-color: #000000;
	font-family: 'Teko', sans-serif;
    font-size: 18px;
	text-align: center;
    letter-spacing: 2.5px;
    margin: auto;
    padding: 2px;
    max-width: 60%;
}
p {
	color: #ffffff;
    background-color: #000000;
	font-family: 'Teko', sans-serif;
    font-size: 18px;
	text-align: center;
    letter-spacing: 2.5px;
    margin: auto;
    padding: 2px;
    max-width: 60%;
    font-size: 18px;
}