body {
	margin: 0px;
}

#bg {
	background-color: #000;
	position: fixed;
	margin: 0px;
	border: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 2;
}

#bg img {
	width: 100%;
	height: 100%;
}

#body {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 98%;
	height:98%;
	padding: 1%;
	z-index: -1000;
}