* {
	box-sizing: border-box;
}

body {
	font-family: Inconsolata, Courier, monospace;
	font-size: 20px;
	background-color: #000;
	background-image: url("/assets/theme/glitch_vfx_bg_04.gif");
	background-position: center;
	background-repeat: none;
	background-size: 100%;
	background-attachment: fixed;
	margin: 0;
}

a {
	color: #999;
	font-size: 24px;
	text-decoration: none;
	text-transform: none;
}

a:hover {
	color: #777;
	font-size: 24px;
	text-decoration: none;
	text-transform: none;
}

.header {
	padding: 10px;
	text-align: center;
	background: #000;
	color: #fff;
	margin-top: 50px;
}

.header h1 {
	font-size: 40px;
	font-style: bold;
}

.header a {
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-style: bold;
}

.header img {
	margin: auto;
	float: center;
	width: 160px;
}

h2 {
	font-family: Inconsolata, Courier, monospace;
	color: #999;
	font-size: 22px;
}

h2 a {
	color: #999;
	font-size: 22px;
}

h2 a:hover {
	color: #777;
	font-size: 22px;
}

.navbar {
	overflow: hidden;
	background-color: #000;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.navbar a {
	float: center;
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.navbar a:hover {
	background-color: #ddd;
	color: #000;
}

.navbar a.active {
	background-color: #666;
	color: #fff;
}

.main {   
	color: #fff;
	background-color: #000;
	padding: 10px;
	border: 0px;
}

.main img {   
	max-width: 100%;
	padding: 10px;
	float: center;
	margin: auto;
}

.footer {
	padding: 10px;
	text-align: center;
	color: #fff;
	background: #000;
}

.footer a {
	color: #fff;
}

@media screen and (max-width: 700px) {
	.row {   
		flex-direction: column;
	}
}

@media screen and (max-width: 400px) {
	.navbar a {
		float: none;
		width: 100%;
	}
}